.pagination {
  display: flex;
  width: min-content;
  margin: 0 auto;
  padding: 4px 0;
}
.pagination li {
  display: flex;
  margin: 0 10px;
  padding: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.pagination li:hover {
  background-color: #292b2f;
}

.pagination .previous,
.pagination .next {
  border-radius: 4px;
  width: min-content;
}
.pagination .disabled a {
  cursor: not-allowed;
  color: #606267;
}

.pagination .active {
  background-color: #5865f2;
}
