.active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  background-color: #fff;
  width: 5px;
  height: 45px;
  transform: translate(-50%, -50%);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
