.update-container {
  width: 400px;
}
.update-header {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.update-header h1 {
  font-size: 24px;
}
.update-header p {
  font-size: 14px;
}

.button-container {
  float: right;
}
