.messenger {
  display: flex;
  background-color: #eeeeee;
}

.chat-menu {
  background-color: #eab6a2;
  max-width: 300px;
  width: 100%;
  border-right: 1px solid #f1e2d3;
}
.chat-menu-wrapper {
  height: calc(100vh - 130px);
  display: flex;
  overflow-y: scroll;
  width: 100%;
}
.chat-menu-wrapper > div {
  width: 100%;
}
.chat-menu-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.chat-menu-wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.chat-menu-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 4px;
  background-color: transparent;
}
.chat-menu:hover .chat-menu-wrapper::-webkit-scrollbar-thumb {
  background-color: #f1e2d3;
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #f1e2d3;
}

.chat-menu-input {
  height: 38px;
  width: 90%;
  background-color: #e6cbaf;
  border: none;
  color: #fcf9f6;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  margin: 10px 0;
}
.chat-menu-input::placeholder {
  color: #fcf9f6;
}
.chat-box {
  width: 100%;
}
.chat-box-top {
  overflow-y: scroll;
  padding-right: 10px;
  height: calc(100vh - 130px);
}

.chat-box-top::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.chat-box-top::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.chat-box-top::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 4px;
  background-color: transparent;
}

.chat-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.chat-box-bottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-message-input {
  width: 80%;
  padding: 10px;
}

.chat-submit-button {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chat-online {
  flex: 3;
}

.no-conversation-text {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}
